.contact__section {
    background-color: $dark-gray;
    color: #fff;
    font-weight: 200;
    padding: 5rem 9%;
    position: relative;
    text-align: center;

    h2 {
        color: #fff;
    }

    p {
        margin-bottom: 2rem;
    }

}

.contact__icon {
    margin-bottom: 1rem;
}

.contact__logo {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100px;
}

@media (max-width: 767px) {
    .contact__logo {
        left: 0;
        right: 0;
        margin: auto;
    }
}