.divider__container {
    background-color: $primary;
    color: #fff;
    padding: 6rem 0;
    text-align: center;
    width: 100%;

    p {
        font-size: 1.3rem;
        font-style: oblique;
        margin: auto;
        width: 90%;
    }
}

// .divider__comillas {
//     font-family: "Helvetica";
//     font-size: 3rem;
//     font-weight: 900;
//     position: relative;
//     top: 10px;
// }