

.home__container {

    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;

}

.home__main-title {
    border-radius: 4px;
    color: #fff;
    padding: 3rem;

    h1 {
        font-size: 5rem;
        font-family: 'Major Mono Display';
        font-weight: 300;
        margin-bottom: 2rem;

        span {
            color: $primary;
            font-weight: 700;
        }
    }
}

@media (max-width: 880px) {
    .home__main-title {
        h1 {
            font-size: 3rem;
        }
    }
    
}

@media (max-width: 560px) {
    .home__main-title {
        h1 {
            font-size: 2rem;
        }
    }
    
}

@media (max-width: 415px) {
    .home__main-title {
        h1 {
            font-size: 1.3rem;
        }
    }
    
}